.body {
    position: absolute;
    top: 5.9%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
}

.text-main {
    color: white;
    font-size: xx-large;
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
}
.form {
    height: auto;
    width: auto;
    margin: auto
}

.form-styling {
    position: absolute;
    height: auto;
    width: 500px;
    text-align: left;
}

.form-title {
    padding-top: 40px;
    padding-bottom: 10px;
    color: white;
    font-size: xx-large
}

.text-box {
    border-width: 0px;
    width: 100%
}

.text-disabled {
    opacity: .2;
}

.input-label {
    color: white;
    font-size: large;
}

#text-box::placeholder {
    color: black;
}

.submit-button {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 25px auto;
    border-width: 0px;
    align-self: center;
    background-color: whitesmoke;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none
}