.body {
    position: absolute;
    top: 5.9%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
}

.text-main-container {
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
}

.text-main {
    color: white;
    font-size: 3em;
}

.form {
    height: auto;
    width: auto;
    margin: auto
}

.form-styling {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: left;
}

.form-title {
    padding-top: 40px;
    padding-bottom: 10px;
    color: white;
    font-size: xx-large
}

.text-box {
    display: block;
    width: 100%
}

.text-box-50 {
    width: 50%
}

.text-box-35 {
    width: 35%
}

.text-box-25 {
    width: 25%
}

.first-button {
    margin-right: 10px;
}

.middle-button {
    margin-left: 10px;
    margin-right: 10px;
}

.last-button {
    margin-left: 1 0px;
}

.input-label {
    color: white;
    font-size: large;
    padding-right: 15px;
}

.submit-button {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 25px auto;
    border-width: 0px;
    align-self: center;
    background-color: whitesmoke;
}

#text-box::placeholder {
    color: black;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none
}